<% provide(:title, "Entrar") %>
<h1>Entrar</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: entrar_path) do |f| %>

      <%= f.label :email, "E-mail" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>Manter conectado?</span>
      <% end %>

      <%= f.submit "Entrar", class: "btn btn-primary" %>
    <% end %>

    <p>Novo Usuário? <%= link_to "Cadastre-se!", cadastro_path %></p>
  </div>
</div>
