<%= form_with(model: comentario, local: true) do |form| %>
  <% if comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comentario.errors.count, "error") %> Campo de preenchimento incompleto:</h2>

      <ul>
      <% comentario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario, "Nome" %>
    <%= form.text_field :usuario, id: :comentario_usuario %>
  </div>

  <div class="field">
    <%= form.label :texto, "Mensagem" %>
    <%= form.text_area :texto, id: :comentario_texto %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.number_field :rate, id: :comentario_rate %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar" %>
  </div>
<% end %>
