<p id="notice"><%= notice %></p>

<h1>Comentários</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Texto</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.usuario %></td>
        <td><%= comentario.texto %></td>
        <td><%= comentario.rate %></td>
        <td><%= link_to 'Modificar', edit_comentario_path(comentario) %></td>
        <td><%= link_to 'Apagar', comentario, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar comentário', new_comentario_path %>