<%= form_with(model: contato, local: true) do |form| %>
  <% if contato.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger">
            <h2>Opa! Encontramos <%= pluralize(contato.errors.count, "erro") %> </h2>
        </div>
        <ul>
      <% contato.errors.full_messages.each do |msg| %>
          <% if msg === "Mensagem can't be blank" %>
              <li>Você deve inserir uma mensagem</li>
          <% elsif msg === "Nome can't be blank" %>
              <li>Você deve inserir um nome</li>
          <% elsif msg === "Email can't be blank" %>
              <li>Você deve inserir um email</li>
          <% elsif msg === "Email is invalid" %>
              <li>O email é inválido</li>
          <% else %>
              <li> <%= msg %> </li>
          <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome, "Seu nome:" %>
    <%= form.text_field :nome, id: :contato_nome %>
  </div>

  <div class="field">
    <%= form.label :email, "E-mail:" %>
    <%= form.text_field :email, id: :contato_email %>
  </div>

  <div class="field">
    <%= form.label :mensagem, "Deixe sua mensagem:" %>
    <%= form.text_area :mensagem, id: :contato_mensagem %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar", class: "btn btn-primary" %>
  </div>
<% end %>
