<%= form_with(model: contato, local: true) do |form| %>
  <% if contato.errors.any? %>
    <div id="error_explanation">
      <h2>Opa! Encontramos <%= pluralize(contato.errors.count, "erro") %> </h2>

      <ul>
      <% contato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome, "Seu nome:" %>
    <%= form.text_field :nome, id: :contato_nome %>
  </div>

  <div class="field">
    <%= form.label :email, "E-mail:" %>
    <%= form.text_field :email, id: :contato_email %>
  </div>

  <div class="field">
    <%= form.label :mensagem, "Deixe sua mensagem:" %>
    <%= form.text_area :mensagem, id: :contato_mensagem %>
  </div>

  <div class="actions">
    <%= form.submit "Enviar", class: "btn btn-primary" %>
  </div>
<% end %>
