<% provide(:title, 'Editar Usuário') %>
<h1>Editar Usuário</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: editar_path) do |f| %>
      <%= render 'users/error_messages' %>

      <%= f.label :name, "Nome:" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "E-mail:" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Senha:" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirme a senha:" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Editar minha conta", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
