<p id="notice"><%= notice %></p>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.image %>
            <%= image_tag(@user.image) %>
        <% else %>
            <%= gravatar_for @user %>
        <% end %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
    <%= @user.email %>
</p>
