<% provide(:title, "Resultados da busca") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<% if @cidades.blank? %>
  <h4>Por gentileza, faça uma nova busca inserindo os dados corretos!</h4>
  <br>
<% else %>
<h2>Mostando resultados para a cidade: <%= @cidades[0].nome %></h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center">Data:</th>
      <th class="text-center">Precipitação em mm:</th>
      <th class="text-center">Ocorrências nos últimos 30 anos:</th>
      <th class="text-center">Chuvas Fracas:</th>
      <th class="text-center">Chuvas Moderadas:</th>
      <th class="text-center">Chuvas Fortes:</th>
    </tr>
  </thead>
    <% teste = false %>
    <% cont = 0 %>
    <% @cidades.each do |cidade| %>
        <% if cidade.dia === params[:data] %>
            <% teste = true %>
        <% end %>
        <% if teste && cont < 7 %>
          <tbody align="center">
            <tr>
              <td><%= "#{cidade.dia}" %></td>
              <td><%= "#{cidade.precipitacao}" %></td>
              <td><%= "#{cidade.ocorrencias}" %></td>
              <td><%= "#{cidade.fracas}" %></td>
              <td><%= "#{cidade.moderadas}" %></td>
              <td><%= "#{cidade.fortes}" %></td>
            </tr>
            <% cont += 1 %>
        <% end %>
    <% end %>
</tbody>
</table>
<% end %>
<p align= "center"><%= link_to "Nova busca", '/busca', class: "btn btn-primary" %></p>
</div>
</div>
