<header class="navbar navbar-fixed-top navbar">
  <div class="container">
    <%= link_to "SeraQChoveu?", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Página Inicial", root_path %></li>
        <li><%= link_to "Sobre",   '/sobre' %></li>
        <li><%= link_to "Cadastro", '/cadastro' %></li>
        <li><%= link_to "Entrar", '/entrar' %></li>
      </ul>
    </nav>
  </div>
</header>
