<!doctype html>
<html lang="pt-br">
  <head>
    <title>Será Que Choveu?</title>
    <%= csrf_meta_tags %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/../../assets/stylesheets/stylesheet.css">-->
  </head>
  <body>
  <div class="geral">
  	<div id="navbar">
		<nav class="navbar navbar-expand-lg navbar-light">

		  	<div class="container-cabecalho">

					<nav class="logo">
						<%= link_to root_path do %>
	          <%= image_tag('logo.svg', width: '30', height: '30') %>
	          <% end %>
						<!--<a class="navbar-brand" href="#">
						<img src="logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
						<h1>Será Que Choveu?</h1>
					</nav>
					<nav class="itens-menu">
					    <div class="nav justify-content-end">
					      <a class="nav-item nav-link active" href="#">Sobre<span class="sr-only">(current)</span></a>
					      <div class="nav-item nav-link"><%= link_to "Comentários", comentarios_url %></div>
					      <div class="nav-item nav-link"><%= link_to "Fale Conosco", '/contatos/new' %></div>
					      <a class="nav-item nav-link" href="#">Login</a>
					      <div class="nav-item nav-link"><%= link_to "Cadastro", '/cadastro' %><div>
					    </div>
				  </nav>
		    </div>
		</nav>
	</div> <!--fim da div navbar-->

	<div class="clear"></div>

	<div class="container-conteudo">
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner" role="listbox">
		    <div class="carousel-item active">
		      <img class="d-block img-fluid" src="images/carousel/arco-iris.jpg">
		      <div class="carousel-caption d-none d-md-block">
		      	<h3>Quer viajar?</h3>
		      </div>
		    </div>
 		    <div class="carousel-item">
		      <img class="d-block img-fluid" src="images/carousel/guarda-chuva.jpg">
		      <div class="carousel-caption d-none d-md-block">
		      	<h3>Descubra a probabilidade de chuva</h3>
		      </div>
		    </div>
		    <div class="carousel-item">
		      <img class="d-block img-fluid" src="images/carousel/cristo-redentor.jpg">
		      <div class="carousel-caption d-none d-md-block">
		      	<h3>Na cidade que você está planejando visitar!</h3>
		      </div>
		    </div>
		    <div class="carousel-item">
		      <img class="d-block img-fluid" src="images/carousel/oculos-de-sol.jpg">
		      <div class="carousel-caption d-none d-md-block">
		      	<h3>Talvez você queria curtir uma praia</h3>
		      </div>
		    </div>
		    <div class="carousel-item">
		      <img class="d-block img-fluid" src="images/carousel/raio.jpg">
		      <div class="carousel-caption d-none d-md-block">
		      	<h3> Ou curtir o friozinho :)</h3>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="container-descricao">
		<p><br><br>As férias são uma das épocas mais aguardadas do ano por qualquer pessoa independente da profissão, seja estudante, professor, engenheiro de software...<br>
		Planejar as férias nem sempre é uma tarefa fácil, envolve escolher um local, estadia, compra de passagem, traçar um roteiro, enfim, se programar.<br>
		É frustrante despender tanto tempo planejando, criar expectativa e, ao chegar no local, começa aquela chuva que não acaba mais!<br>
		O SeraQChoveu? vem pra ajudar aqueles que querem planejar suas viagens com mais garantia.<br></p>
		</div>
	</div>

	<footer id="footer">
	  <div class="container-footer">
		<div class="nav-footer">
	      <nav>
		    <ul class="opcoes-gerais">
		      <li><a target="_blank" href="#">Página Inicial</a></li>
		      <li><a target="_blank" href="#">Sobre</a></li>
		    </ul>
	      </nav>
	      <nav>
		    <ul class="opcoes-gerais">
		      <li><a target="_blank" href="#">Comentários</a></li>
		      <li><a target="_blank" href="#">Contato</a></li>
		    </ul>
	      </nav>

	      <nav>
		    <ul class="deslogado">
		      <li><a target="_blank" href="#">Login</a></li>
		      <li><a target="_blank" href="#">Cadastro</a></li>
		    </ul>
	      </nav>

	      <nav>
		    <ul class="logado">
		      <li><a target="_blank" href="#">Conta</a></li>
		      <li><a target="_blank" href="#">Favoritos</a></li>
		    </ul>
	      </nav>

		</div>
	    <h6>Copyright@2017 | Todos os direitos reservados</h6>

	</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </div> <!-- fim da div geral-->
    <%= yield %>
  </body>
</html>
